.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.opensea {
  margin-top: 1.5em;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  cursor: pointer;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  background-color: rgb(32, 129, 226);
  background-size: 200% 200%;
  border-radius: 5px;
  width: auto;
  padding: 15px;
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.spinonediv-3 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid transparent;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: spinner-3--border-opacity 0.7s linear infinite;
  animation: spinner-3--border-opacity 0.7s linear infinite;
  -webkit-animation-delay: 0.24s;
  animation-delay: 0.24s;
}

.spinonediv-3:before, .spinonediv-3:after {
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-animation: spinner-3--border-opacity 0.7s linear infinite;
  animation: spinner-3--border-opacity 0.7s linear infinite;
}

.spinonediv-3:before {
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
}

.spinonediv-3:after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-animation-delay: 0.12s;
  animation-delay: 0.12s;
}